.Nazm {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 100px;
  }
  
  .Nazm h1 {
    font-size: 50px;
  }
  