.header-search-container {
  max-width: 1200px;
  width: 1114.54px;
  height: 169.42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #191919;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  padding-bottom: 20px;
  top: -50px;
  margin: 0 auto;
}
.header-search__title {
  font-family: "Rotterburg Stylish FREE";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  color: #c9ac8c;
}

.header-search__from {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  input {
    width: 709.58px;
    font-size: 16px;
    font-family: "Steinbeck";
    line-height: 16px;
    padding: 13px 15px;
    background: #404040;
    border-radius: 15px;
    outline: none;
    border: 2px solid #404040;
    color: #fff;
  }
  button {
    width: 160.21px;
    padding: 13px 15px;
    background: #c9ac8c;
    border-radius: 15px;
    font-family: "Steinbeck";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    span {
      background: #c9ac8c;
      color: #3c2710;
    }
    svg {
      background: #c9ac8c;
      color: #3c2710;
    }
    &:active {
      transform: scale(1.1);
    }
  }
}
