nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 83px;
}
.madia-nav {
  width: 100%;
  display: none;
}
@media (max-width: 1200px) {
  .nav__container {
    padding: 10px 0;
    .nav__right {
      display: none;
    }
  }
  .nav__logo {
    display: none;
  }
  .madia-nav {
    display: block;
  }
}

.nav__logo {
  font-family: "Rotterburg Stylish FREE";
  color: #c9ac8c;
  font-size: 25px;
  line-height: 144.4%;
  margin: 0;
}
.nav__logo1 {
  font-family: "Rotterburg Stylish FREE";
  color: #c9ac8c;
  font-size: 25px;
  line-height: 144.4%;
  margin: 0;
}

.nav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
  list-style-type: none;
  li a {
    font-family: "HelveticaNeueCyr";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 144.4%;
    color: #ffffff;
    text-decoration: none;
  }
}
.nav__right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PaperList {
  position: absolute;
  right: 5%;
  top: 110%;
  z-index: 1;
}
