@font-face {
    font-family: "Rotterburg Stylish FREE";
    src: url("./fonts/RotterburgStylishRegular.woff2")
        format("woff2"),
      url("./fonts/RotterburgStylishRegular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  